<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Farmers</title>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    
    
  </head>
  <body>
   <div class="container mb-5">
  <h1 class="alert-danger text-center p-3">Files Uploader</h1>
  <div class="row">
   <div class="col-sm-8">
    <form action="" method="post" enctype="multipart/form-data" class="shadow p-5">
     {% csrf_token %}
     {% for fm in form %}
       <div class="form-group mb-3">
       {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
       </div>
     {% endfor %}
     <input type="submit" value="Submit" class="btn btn-primary">
     {% if form.non_field_errors %}
       {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
       {% endfor %}
     {% endif %}
    </form>
   </div>
   <div class="col-sm-4">
    <h4 class="text-center mb-3"><u>List of Candidate</u></h4>
    {% for candidate in candidates %}
     {{candidate.id}} : <a href="{% url 'candidate' candidate.id %}">{{candidate.name}}</a>
     <hr>
    {% endfor %}
   </div>
  </div>
 
 </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>